argocd
*.log
argocd
# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl

# Terragrunt
.terragrunt-cache/

# Kubernetes
kubeconfig

# IDE
.vscode/
.idea/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

venv/
.venv/
__pycache__/
*.pyc
